@use '../src/assets/sass/variables'
@use '../src/assets/sass/mixins'


#background
  @include mixins.container-flex
  align-items: center    
  position: absolute
  background: transparent
  backdrop-filter: blur(10px)
  width:100vw
  height: 100vh


img
  height:350px
  position: absolute
  z-index: 999999
  
